<div class="chat-header">
  <div class="header-1">
    <div class="header-title">
      <p class="bg-text">今日の課題</p>
    </div>
    <div class="message11">
      <a href="#">課題を入力する</a>
    </div>
  </div>
</div>


<div class="games">
  <div class="game">
    <div class="upper-game">
      <div class="game-history">
        戦歴
      </div>
    </div>
    <div class="lower-game">
      <div class="game-content">
        何勝 何敗　勝率
      </div>
    </div>
    <div class="result">
      <input class="win" type="submit" value="勝利">
      <input class="lose" type="submit" value="敗北">
    </div>
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        意識すること
      </div>
      <div class="message-date">
        2020/3/31(Wed) 12:47:30
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        内容
      </div>
    </div>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder= "内容">
      <input type="text" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="記録">
</div>
